{% extends 'manager/base.html'%}
{% load static %}
{% block title %}About Us{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'manager/about.css' %}">
{% endblock %}
{% block body %}
<div class="content-about">
    <div class="quote">
        <h1>"Medicine is a science of uncertainity and an art of probability"</h1>
    </div>
    <div class="About">
        <h3>We Are a Digital Healthcare Platform</h3><br />
        <p>At this Online Pharmacy Shop we help you look after your own health effortlessly as well as take care of loved ones wherever they may reside. You can buy medicines from any corner of the world-just with a few clicks of the mouse. We make a wide range of prescription medicines and other health products conveniently available to all users. Even second and third tier cities and rural villages can now have access to the latest medicines. Online buyers can expect significant savings.<br /></p>
        <br /><br /><br />
        <h3>Vision</h3><br />
        <p>Improve health outcomes for consumers by making it <b>simple, personal, accessible</b> and <b>affordable</b></p>
        <br /><br /><br />
        <h3>Mission</h3><br />
        <p>Use <b>technology</b> to make this Online Pharmacy Management the <b>trusted</b> partner for customers for all of their <b>healthcare</b> needs.</p>
        <br /><br /><br />
        <h3>Convenience</h3><br />
        <p>Heavy traffic, lack of parking, monsoons, shop closed, forgetfulness… these are some of the reasons that could lead to skipping of vital medications. Since taking medicines regularly is a critical component of managing chronic medical conditions, it’s best not to run out of essential medicines. Just log on to this site, place your order online and have your medicines delivered to you – without leaving the comfort of your home. What’s more, with easy access to reliable drug information, you get to know all about your medicine at this site.</p>
        <br /><br /><br />
        <div class="footer">
            <ul>
                <a href="https://github.com/RishabhShukla1511" class="fa fa-github" style="font-size: 25px;margin-left: 10px;margin-right: 10px; color: white;"></i>
                    <a href="tel:+919879836479" class="fa fa-phone" style="font-size: 25px;margin-left: 10px;margin-right: 10px; color:white"></i>
                        <a href="https://www.linkedin.com/in/rishabh-shukla-69362b177/" class="fa fa-linkedin" style="font-size: 25px;margin-left: 10px;margin-right: 10px; color:white"></i>
                            <a href="mailto:201851116@iiitvadodara.ac.in" class="fa fa-envelope" style="font-size: 25px;margin-left: 10px;margin-right: 10px; color:white"></i>
                                <a href=""></a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$("#at").addClass("active");
//Displaying total items in cart 
cat_cart = JSON.parse(localStorage.getItem('cat_cart'));
var sum = 0;
for (var item in cat_cart) {
    let qty = cat_cart[item][0];
    sum += qty;
}
document.getElementById('cart').innerHTML = sum;
</script>
{% endblock %}