{% extends 'manager/base.html' %}
{% load static %}
{% block title %}Add Products{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'manager/home.css' %}" />
    
    <style type="text/css">
        .button{
            margin: 10px 6px;
        }
        .bb{
            margin-left: 0px;
        }
        .fa-envelope:hover {
            color: rgb(48, 202, 48)!important;
        }
        .h {
            margin: 10px;
            padding-left: 20px;
            padding-right: 273px;
            z-index: 5;
        }
        
        .heading {
            top: 22%;
            left: 30%;
            color: white;
            z-index: 3;
            position: absolute;
            width: 760px;
            height: 45px;
            background: #4360b5;
            
        }
        
        .h {
            margin: 10px;
            padding-left: 20px;
        }

        .Order_table {
            top: 68%;
            left: 60%;
            color: white;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 850px;
            height: 550px;
            background: rgba(37, 45, 66, 0.7);
            overflow: auto;
            text-align: justify-all;
        }

        .Order_table #main_row {
            color: #888;
            margin: 20px;
            margin-top: 27px;
            margin-bottom: 27px;
        }

        .Order_table .row {
            color: white;
            margin: 20px;
        }

        .Order_table #main_row .col {
            font-size: 15px;
        }

        .Order_table .row .col {
            font-size: 16px;
        }
    </style>

{% endblock %}

{% block body %}

<div class="content">

    <div id="row">
        <center>

            <div class="heading" >
                <div class="h" style="margin-left: 200px;">Add Products</div>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="Order_table">
                    
                        <div class="row" id="main_row">
                            <div class="col">
                                <center>Property</center>
                            </div>
                            
                            <div class="col">
                                <center>Details</center>
                            </div>
                        </div>
                    
                    {% for i in li %}
                    {% if i is 2 %}
                    <div class="row">                                
                        <div class="col">
                            <center>
                                Product name
                            </center>
                        </div>
                        
                        <div class="col">
                            <center>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Product Name" name="panme" aria-describedby="basic-addon2">
                                    <!-- <input type="text" name="pname" style="width: 280px;" placeholder="Product Name"> -->
                                </div>
                            </center>
                        </div>
                    </div>
                    {% elif i is 3 %}  
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Category
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Options</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif i is 4 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Little Description
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Little Description" name="pdesc1" aria-describedby="basic-addon2">
                                    <!-- <input type="text" name="pname" style="width: 280px;" placeholder="Product Name"> -->
                                </div>
                            </div>
                        </div>
                    {% elif i is 5 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Detailed Description
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Detailed Description" name="pdesc2" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    {% elif i is 6 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Expiry Date
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control" placeholder="Date" name="pexpdate">
                                </div>
                            </div>
                        </div>
                    {% elif i is 7 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Price
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Price(in Rs)" name="pprice">
                                    <!-- <input type="text" name="pname" style="width: 280px;" placeholder="Product Name"> -->
                                </div>
                            </div>
                        </div> 
                    {% elif i is 8 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Image
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile04" name="pimg" aria-describedby="inputGroupFileAddon04" accept="image/*" placeholder="Image">
                                        <label class="custom-file-label" for="inputGroupFile04"><span style="margin-right: 225px;">Choose Image</span></label>
                                      </div>
                                </div>
                                <!-- <center>
                                    <form action="/action_page.php">
                                        <div style="margin-left: 60px;">
                                            <input type="file" name="pimg" accept="image/*" placeholder="Image">
                                        </div>
                                    </form>
                                </center> -->
                            </div>
                        </div> 
                    {% elif i is 9 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Discount
                                </center>
                            </div>
                            
                            <div class="col">
                                 <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Discount" name="pdiscount" aria-describedby="basic-addon2">
                                </div>   
                               <!--  <center>
                                    <input type="number" style="width: 280px;" name="pdiscount" placeholder="Discount">
                                </center> -->
                            </div>
                        </div> 
                    {% elif i is 10 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Features
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Features" name="pfeatures" aria-label="With textarea"></textarea>
                                </div>
                                <!-- <center>
                                    <input type="text" style="width: 280px;" name="pfeatures" placeholder="features">
                                </center> -->
                            </div>
                        </div> 
                    {% elif i is 11 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Use
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Use" name="puse" aria-label="With textarea"></textarea>
                                </div>
                                <!-- <center>
                                    <input type="text" style="width: 280px;" name="puse" placeholder="Use">
                                </center> -->
                            </div>
                        </div>
                    {% elif i is 12 %}
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Quantity
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Quantity" name="pquantity" aria-describedby="basic-addon2">
                                </div> 
                                <!-- <center>
                                    <input type="number" style="width: 280px;" name="pquantity" placeholder="Quantity">
                                </center> -->
                            </div>
                        </div>
                    {% else %}
                        <br>
                        <input type="submit" style="width: 50%;" class="btn btn-success" value="Add Product"/>
                        <br><br>
                    {% endif %}
                    {% endfor %}
                </div>

            </form>
        </center>

{% endblock %}
    
{% block js %}

<script>

    $("button").remove(".active");
    $("#ap").addClass("active");

</script>

{% endblock %}