{% extends 'manager/base.html' %}
{% load static %}
{% block title %}Add Products{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'manager/home.css' %}" />
    
    <style type="text/css">
        .button{
            margin: 10px 6px;
        }
        .bb{
            margin-left: 0px;
        }
        .fa-envelope:hover {
            color: rgb(48, 202, 48)!important;
        }
        .h {
            margin: 10px;
            padding-left: 20px;
            padding-right: 273px;
            z-index: 5;
        }
        
        .heading {
            top: 22%;
            left: 30%;
            color: white;
            z-index: 3;
            position: absolute;
            width: 760px;
            height: 45px;
            background: #4360b5;
            
        }
        
        .h {
            margin: 10px;
            padding-left: 20px;
        }

        .Order_table {
            top: 68%;
            left: 60%;
            color: white;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 850px;
            height: 550px;
            background: rgba(37, 45, 66, 0.7);
            overflow: auto;
            text-align: justify-all;
        }

        .Order_table #main_row {
            color: #888;
            margin: 20px;
            margin-top: 27px;
            margin-bottom: 27px;
        }

        .Order_table .row {
            color: white;
            margin: 20px;
        }

        .Order_table #main_row .col {
            font-size: 15px;
        }

        .Order_table .row .col {
            font-size: 16px;
        }
    </style>

{% endblock %}

{% block body %}

<div class="content">
        <center>
            <div class="heading" >
                <div class="h" style="margin-left: 200px;">Add Products</div>
            </div>
            <form action="/manager/addproducts/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="Order_table">
                        <div class="row" id="main_row">
                            <div class="col">
                                <center>Property</center>
                            </div>
                            
                            <div class="col">
                                <center>Details</center>
                            </div>
                        </div>
                        <div class="row">                                
                        <div class="col">
                            <center>
                                Product name
                            </center>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Product Name" name="pname" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Category
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <select class="custom-select" name="category" id="inputGroupSelect02">
                                        <option selected>Choose...</option>
                                        <option value="Homeopathic">Homeopathic</option>
                                        <option value="Ayurvedic">Ayurvedic</option>
                                        <option value="Allopathic">Allopathic</option>
                                        <option value="wellness">Wellness Product</option>
                                        <option value="Health Juices">Health Juices</option>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Options</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Little Description
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Little Description" name="pdesc1" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Detailed Description
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Detailed Description" name="pdesc2" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Expiry Date
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control" placeholder="Date" name="pexpdate">
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Price
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Price(in Rs)" name="pprice">
                                </div>
                            </div>
                        </div> 
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Image
                                </center>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" name="pimage" id="exampleFormControlFile1" accept="image/*">
                                      </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Discount
                                </center>
                            </div>
                            
                            <div class="col">
                                 <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Discount" name="pdiscount" aria-describedby="basic-addon2">
                                </div>   
                            </div>
                        </div> 
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Features
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Features" name="pfeatures" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div> 
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Use
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="Use" name="puse" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col">
                                <center>
                                    Quantity
                                </center>
                            </div>
                            
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Quantity" name="pquantity" aria-describedby="basic-addon2">
                                </div> 
                            </div>
                        </div>
                        <br>
                        <input type="submit" style="width: 50%;" class="btn btn-success" value="Add Product"/>
                        <br><br>
                </div>

            </form>
        </center>

{% endblock %}
    
{% block js %}

<script>

    $("button").remove(".active");
    $("#ap").addClass("active");

</script>

{% endblock %}