<!-- All Good !!! -->
{% extends 'user/basic.html'%}
{% load static %}
{% block title %}Category|{{product.0.category}} Products{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/catproducts.css' %}">
<style type="text/css">
.card-img-top {
    width: 255px;
    height: 220px;
}

#main .prod_title {
    font-size: 20px;
}

.cart {
    cursor: not-allowed;
    pointer-events: all !important;
}
</style>
{% endblock %}
{% block body %}
<div id="main">
    <span class="prod_title">All Products </span><br>
    <!-- Showing total no. of products in this category (Backend) -->
    <span>1 - {{length}} of {{length}} products</span>
    <div class="row my-3">
        {% for product,quantity,price in comb_list %}
        <div class="col-md-4">
            <div class="card align-items-center" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{product.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="namepr" style="color: black;">{{product.product_name|slice:"0:25"}}..</h5>
                    <p class="card-text">{{product.desc1|slice:"0:23"}}...</p>
                    <h6>M.R.P: <span style="text-decoration: line-through;">₹ {{price.0}}</span></h6>
                    <h6>Price: <span id="pricepr">₹ {{price.1}}</span></h6>
                    <h6>You Save: <span id="pricepr">₹ {{price.2}} ({{price.3}}%)</span></h6>

                    <span id="divpr" class="divpr">
                        {% if quantity > 0 %}
                            <a href="/user/cat/add/{{product.product_id}}">
                                <button id="minus" class="btn btn-primary minus mr-2">+</button>  
                            </a>
                            {{ quantity}} 
                             <a href="/user/cat/sub/{{product.product_id}}">
                                <button id="plus" class="btn btn-primary minus ml-2">-</button>  
                            </a>
                        {% else %}
                            <a href="/user/cat/add/{{product.product_id}}">
                                <button id="pr" class="btn btn-primary cart">Add to Cart</button>
                            </a>
                        {% endif %} 
                    </span>
                    <a href="/user/productview/{{product.product_id}}"><button id="qv" class="btn btn-primary ml-2">QuickView</button></a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
    </div>
    <div class="row my-3">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block js %}

<script type="text/javascript">
    if("{{total_item}}"==="None"){
        document.getElementById('ordu').innerHTML = 'Orders <span id="cart"></span>';
    }
    else{
        document.getElementById('cart').innerHTML = {{total_item}};
    }
</script>
{% endblock %}