<!-- No change Required in this page. All good -->
{% extends 'user/basic.html'%}
{% load static %}
{% block title %}Order{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/order.css' %}">
<style type="text/css">
.heading2 {
    width: 760px;
    top: 86%;
    color: white;
    left: 30%;
    height: 50px;
    background: #4360b5;
    position: absolute;
}

.h {
    margin: 10px;
    padding-left: 20px;
    padding-right: 273px;
}

.TotalPrice {
    float: right;
}

.heading {
    top: 24%;
    left: 30%;
    color: white;
    z-index: 5;
    position: absolute;
    width: 760px;
    height: 45px;
    background: #4360b5;
}

.h {
    margin: 10px;
    padding-left: 20px;
}

.Order_table {
    top: 60%;
    left: 60%;
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 800px;
    height: 400px;
    background: rgba(37, 45, 66, 0.7);
    overflow: auto;
    text-align: justify-all;
}


.Order_table #main_row {
    color: #888;
    margin: 20px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.Order_table .row {
    color: white;
    margin: 20px;
}

.Order_table #main_row .col {
    font-size: 15px;
}

.Order_table .row .col {
    font-size: 16px;
}

hr {
    background: rgba(255, 255, 255, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.btn-danger,
.btn-success {
    width: 120px;
    height: 36px;
}
</style>
{% endblock %}
{% block body %}
<div class="heading">
    <div class="h">Orders / Page</div>
</div>
<div class="Order_table">
    <div class="row" id="main_row">
        <div class="col">
            <center>PRODUCT NAME</center>
        </div>
        <div class="col">
            <center>QUANTITY</center>
        </div>
        <div class="col">
            <center>AMOUNT (Rs.)</center>
        </div>
        <div class="col"></div>
    </div>
    {% if item_list %}
        {% for id,name,price,quantity in item_list%}
            <div class="row">
                <div class="col">
                    <center>{{name}}</center>
                </div>
                <div class="col">
                    <center>{{quantity}}</center>
                </div>
                <div class="col">
                    <center>{{price}}</center>
                </div>
                <div class="col">
                    <center><span class="divdel"><a href="/user/del/{{id}}"><button type="button" class="btn btn-danger del">Delete</button></a>
                        </span></center>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <div class="row"><div class="col-md-4"></div><div class="col-md-4">Uhhh!! Your cart is Empty....</div><div class="col-md-4"></div></div>
    {% endif %}
</div>
<span class="Foo"> 
    <div class="heading2 style="font-size:10px;><div class="row"><div class="col mt-3"><center>Total Price</center></div><div class="col"></div><div class="col mt-3"><center>{{total_price}}</center></div><div class="col mt-2  "><center><a href="/user/checkout/"><button type="button" class="btn btn-success">CheckOut</button></a></center></div></div></div>
</span>
{% endblock %}


{% block js %}

<script type="text/javascript">
    $("#or").addClass("active");
    // console.log({{total_item}})
    if("{{total_cart_item}}"==="None"){
        document.getElementById('ordu').innerHTML = 'Orders <span id="cart"></span>';
    }
    else{
        document.getElementById('cart').innerHTML = {{total_cart_item}};
    }
</script>
{% endblock %}