{% extends 'user/basic.html'%}
{% load static %}
{% block title %}Order{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/order.css' %}">
<style type="text/css">
.heading2 {
    width: 760px;
    top: 86%;
    color: white;
    left: 32%;
    height: 45px;
    background: #4360b5;
    position: absolute;
}

.h {
    margin: 10px;
    padding-left: 20px;
    padding-right: 273px;
}

.TotalPrice {
    float: right;
}
</style>
{% endblock %}
{% block body %}
<div class="heading">
    <div class="h">Orders / Page</div>
</div>
<div class="Order_table">
    <div class="row" id="main_row">
        <div class="col">
            <center>PRODUCT NAME</center>
        </div>
        <div class="col">
            <center>QUANTITY</center>
        </div>
        <div class="col">
            <center>AMOUNT (Rs.)</center>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <center>Paracetemol</center>
        </div>
        <div class="col">
            <center>2</center>
        </div>
        <div class="col">
            <center>10</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <center>Amoxyciline</center>
        </div>
        <div class="col">
            <center>15</center>
        </div>
        <div class="col">
            <center>150</center>
        </div>
        <div class="col">
            <center><button type="button" class="btn btn-danger">Delete</button></center>
        </div>
    </div>
</div>
<div class="heading2">
    <div class="h">Total Price <span class="TotalPrice">100</span></div>
</div>
{% endblock %}

{% block js %}



{% endblock %}