{% extends 'user/basic.html' %}
{% block title %} Search - Pharamacy Management System {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/search.css' %}">
<style type="text/css">
.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    width: 200px;
    height: 200px;
}

body .carousel-indicator li {
    background-color: white;
    position: absolute;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
}

body .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.5);
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    /*background-color: rgba(0,0,0,0.5);*/
    border-color: rgba(37, 45, 66, 0.7);
    position: absolute;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #000;
    user-select: none;
}

.carousel-control-prev,
.carousel-control-next {
    top: auto;
    bottom: auto;
    margin-top: 170px;
    margin-left: 180px;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.main {
    margin-top: 128px;
    margin-left: 274px;
    margin-right: 100px;
}
</style>
{% endblock %}
{% block body %}
<div class="main">
    <div class="contain">
        <!-- Slideshow starts here -->
        {% for comb_list,range,nSlides,cat in allProds %}
        <h4 class="my-4">Flash Sale on {{cat}} - Recommended Item</h4>
        <div class="row">
            <div class="col carousel slide my-3" id="demo{{forloop.counter}}" data-ride="carousel">
                <ul class="carousel-indicators" style="margin-bottom: -30px">
                    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                    {% for i in range %}
                    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ul>
                <div class="container carousel-inner no-padding">
                    <div class="carousel-item active">
                        {% for product,quantity,price in comb_list%}
                        <div class="col-md-3 mr-5 ml-4">
                            <div class="card align-items-center" style="width: 18rem; color: black;">
                                <img class="card-img-top" src="/media/{{product.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" id="namepr" style="color: black;">{{product.product_name|slice:"0:25"}}..</h5>
                                    <p class="card-text">{{product.desc1|slice:"0:23"}}...</p>
                                    <h6>M.R.P: <span style="text-decoration: line-through;">₹ {{price.0}}</span></h6>
                                    <h6>Price: <span id="pricepr">₹ {{price.1}}</span></h6>
                                    <h6>You Save: <span id="pricepr">₹ {{price.2}} ({{price.3}}%)</span></h6>

                                    <span id="divpr" class="divpr">
                                        {% if quantity > 0 %}
                                        <a href="/user/search/add/{{product.product_id}}">
                                            <button id="minus" class="btn btn-primary minus mr-2">+</button>
                                        </a>
                                        {{ quantity}}
                                        <a href="/user/search/sub/{{product.product_id}}">
                                            <button id="plus" class="btn btn-primary minus ml-2">-</button>
                                        </a>
                                        {% else %}
                                        <a href="/user/search/add/{{product.product_id}}">
                                            <button id="pr" class="btn btn-primary cart">Add to Cart</button>
                                        </a>
                                        {% endif %}
                                    </span>
                                    <a href="/user/productview/{{product.product_id}}"><button id="qv" class="btn btn-primary ml-2">QuickView</button></a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
                    </div>
                    <div class="carousel-item">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a href="#demo{{forloop.counter}}" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#demo{{forloop.counter}}" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon" style="margin-left: 29px"></span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    str = "{{msg}}";
    if (str !== "success") {
        alert("{{msg}}");
        window.location.href = "/user";
    }
    if("{{total_item}}"===0){
         document.getElementById('ordu').innerHTML = 'Orders <span id="cart"></span>';
    }
    else{
        document.getElementById('cart').innerHTML = {{total_item}};
    }
</script>
{% endblock %}