{% extends 'user/basic.html' %}
{% block title %} Checkout - Pharmacy Management System {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/tracker.css' %}">
<style type="text/css">
body {
    height: 0;
}

.main {
    margin-top: 128px;
    margin-left: 274px;
    margin-right: 100px;
}
</style>
{% endblock %}
{% block body %}
<div class="main">
    <div class="container">
        <div class="col my-4">
            <h2> Enter your Order Id and Email address to track your order</h2>
            <form action="#" method="post" id="trackerForm">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputname">Order Id</label>
                        <input type="text" class="form-control" id="OrderId" name="OrderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </div>
        </div>
        <div class="col my-4">
            <h2>Your Order Status</h2>
            <div class="my-4">
                <ul class="list-group items" style="color: black">
                    <span style="color: white">Enter your order id and email and click Track Order to find details about your order!</span>
                </ul>
            </div>
            <h2>Your Order Details</h2>
            <div class="my-4">
                <ul class="list-group citems" style="color: black">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('#trackerForm').submit(function(event) {

    $('.items').empty();
    var formData = {
        'OrderId': $('input[name=OrderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    }
    $.ajax({
            type: 'POST',
            url: '/user/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            $('.citems').empty();
            console.log(data);
            data = JSON.parse(data);
            if (data['status'] == "success") {
                updates = data['updates'];
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">${text}<span class="badge badge-primary badge-pill">${time}</span></li>`;
                    $('.items').append(mystr);
                }
                cat_cart = JSON.parse(data['itemsJson']);
                for (item in cat_cart) {
                    let name = cat_cart[item][1];
                    let qty = cat_cart[item][0];
                    console.log(name, qty);
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">${name}<span class="badge badge-primary badge-pill">${qty}</span></li>`;
                    $('.citems').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                          Sorry, We are not able to fetch this order id and email. Make sure to type correct order id and email. </li>`;
                $('.items').append(mystr);
                $('.citems').append(mystr);
            }
            // Fill the order details

        });
    event.preventDefault();
});
//Displaying total items in cart 
cat_cart = JSON.parse(localStorage.getItem('cat_cart'));
var sum = 0;
for (var item in cat_cart) {
    let qty = cat_cart[item][0];
    sum += qty;
}
document.getElementById('cart').innerHTML = sum;
</script>
{% endblock %}